@import "base/base-index";
@import "components/components-index";

html,
body {
  font-family: 'SegoeUI', sans-serif;
  font-size: 15px;
  font-size: 1em;
  letter-spacing: 0.01rem;
  color: $gray1;
  background-color: $gray2;
  background-image: url('./img/bg-pattern.svg');
  background-size: 70px;
  background-attachment: fixed;

  .hidden { display: none !important; }

  main#table {
    white-space: nowrap;
    overflow: auto;
    height: calc(100% - 166px);
    
    .test { width: 100vw; white-space: normal; }

    .table-header {
      background-color: $gray4;
      border-bottom: 1px solid $gray3;
      position: -webkit-sticky;
      position: sticky;
      padding-left: 20px;
      top: 0;
      width: $total-columns-width + px;
      font-size: 0.9rem;
      letter-spacing: 0;
  
      .col {
        display: inline-block;
        border-right: 1px solid $gray5;
        padding: 9px 7px;
        position: relative;

        &:last-child { border-right: none; }
  
        > * { display: inline-block; }
  
        input[type='checkbox'] {
          height: 0.8em;
          margin-right: 30px;
        }
  
        img.icon {
          position: relative;
          top: 2px;
          height: 1em;
          margin-right: 3px;
        }
  
        img.dropdown-arrow {
          @extend img.icon;
          opacity: 0.5;
          float: right;
        
          &:hover, &focus { opacity: 1; }
        
        }

        .dropdown {
          position: absolute;
          top: 30px;
          right: -1px;
          z-index: 10;
          max-height: 75vh;
          overflow-y: auto;
          background-color: $gray6;
          color: $white;
          border: 1px solid $gray3;
          border-radius: 5px;

          li {
            cursor: pointer;
            padding: 9px 20px 9px 10px;

            &:hover, &:focus {
              background-color: rgba(255,255,255,0.1);
            }

            &:last-child {
              padding-bottom: 15px;
            }

            img {
              margin-right: 10px;
            }

            &[disabled] {
              opacity: 0.5;
              cursor: default;

              &:hover, &:focus {
                background: none;
              }

            }

          }
          
        }
  
      }
  
    }

  }

}